@page
@model EShop.Web.Areas.Identity.Pages.Admin.Items.EditModel
@{
    ViewData["Title"] = "Edit Item";
}

<form method="post">
	<div class="form-group">
		<label asp-for="Input.Name" class="control-label"></label>
		<input asp-for="Input.Name" class="form-control" />
		<span asp-validation-for="Input.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Input.Description" class="control-label"></label>
		<input asp-for="Input.Description" class="form-control" />
		<span asp-validation-for="Input.Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Input.Price" class="control-label"></label>
		<input asp-for="Input.Price" class="form-control" type="number" step="0.01"/>
		<span asp-validation-for="Input.Price" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Input.CatalogId" class="control-label"></label>
		<select asp-for="Input.CatalogId" class="form-control" asp-items="@(ViewData["Catalogs"] as SelectList)">
			<option value=""> -- Select Catalog -- </option>
		</select>
		<span asp-validation-for="Input.CatalogId" class="text-danger"></span>
	</div>
	<div class="form-group mt-2">
		<input type="submit" value="Save" class="btn btn-primary"/>
		<a asp-page="./Index" class="btn btn-primary">Back to List</a>
	</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
