@* Views/Shared/_NavbarMenu.cshtml *@
<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Categories
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu dropend">
                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Electronics
                </a>
                <ul class="dropdown-menu multi-column">
                    <div class="row">
                        <ul class="col-md-6 list-unstyled">
                            <li><a class="dropdown-item" href="#">PC</a></li>
                            <li><a class="dropdown-item" href="#">Mobile</a></li>
                            <li><a class="dropdown-item" href="#">Tablets</a></li>
                            <li><a class="dropdown-item" href="#">Laptops</a></li>
                            <li><a class="dropdown-item" href="#">Cameras</a></li>
                            <li><a class="dropdown-item" href="#">TV</a></li>
                        </ul>
                        <ul class="col-md-6 list-unstyled">
                            <li><a class="dropdown-item" href="#">Audio</a></li>
                            <li><a class="dropdown-item" href="#">Gaming</a></li>
                            <li><a class="dropdown-item" href="#">Wearables</a></li>
                        </ul>
                    </div>
                </ul>
            </li>
            <li><a class="dropdown-item" href="#">Fashion</a></li>
            <li><a class="dropdown-item" href="#">Home & Garden</a></li>
            <li><a class="dropdown-item" href="#">Sports</a></li>
        </ul>
    </li>
</ul>