@* Views/Shared/_NavbarMenu.cshtml *@
<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "Catalog")" role="button" data-bs-toggle="dropdown">
            Categories
        </a>
        <ul class="dropdown-menu">
            @await Component.InvokeAsync("Catalogs", new { viewName = "Default" })
        </ul>
    </li>
</ul>