@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<form>
	<div class="mb-3">
		<div class="input-group">
			<span class="input-group-text custom-gradient text-white">
				<i class="bi bi-person-circle"></i>
			</span>
			<input type="email" class="form-control" placeholder="Email">
		</div>
	</div>
    
	<div class="mb-3">
		<div class="input-group">
			<span class="input-group-text custom-gradient text-white">
				<i class="bi bi-key-fill"></i>
			</span>
			<input type="password" class="form-control" placeholder="Password">
		</div>
		<div class="text-end mt-1">
			<a href="#" class="text-decoration-none text-muted small">Forgot password?</a>
		</div>
	</div>

    <button type="submit" class="custom-btn custom-gradient">Sign in</button>
    
	<div class="text-center mt-3">
		<span class="text-muted">Don't have an account? </span>
        <a class="text-decoration-none" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
	</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
