/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}*/

.custom-gradient-light {
    background: linear-gradient(-45deg, #ffa100, #ffc);
}

.custom-gradient {
    background: linear-gradient(45deg, #ffa500, #ffc000);
}

.btn-custom {
    background: linear-gradient(45deg, #ffffff, #ffa500);
    border: none;
    color: #333;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s;
}

.btn-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.btn-primary {
    background: linear-gradient(45deg, #ffa500, #ffc000);
    border: none;
    color: #333;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.3s;
}

.nav-pills .nav-link {
    color: #333;
}

.nav-pills .nav-link:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.nav-pills .nav-link.active {
    background: linear-gradient(45deg, #ffffff, #ffa500);
    color: #333;
}

.custom-border {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 25px;
}