@{
	Layout = "/Areas/Identity/Pages/_MainLayout.cshtml";
}

<div class="container p-md-5">
	<div class="row">
		<div class="col-md-3 text-center">
			<partial name="_ManageNav" />
		</div>
		<div class="col custom-border">
			@RenderBody()
		</div>
	</div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
