@using EShop.Core.Entities
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="home" asp-page="./Index">Home</a></li>
</ul>
