@page
@model EShop.Web.Areas.Identity.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Admin Panel";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>Welcome to an Admin Page</h1>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}